#container {
	width: 100%;
}

#center {
	height: 2000px;
	display: block;
	overflow: auto;
	margin: auto;
	box-shadow: -2px 0px 2px 2px #808080, 2px 0px 2px 2px #808080;
	position: relative;
	z-index: 10;
}

#left {
	float: left;
	width: 100px;
	height: 2000px;
	background-image: url("../img/background.png");
	background-repeat: repeat-y;
	margin: 0px;
	padding: 0px;
}

#right {
	float: right;
	width: 100px;
	height: 2000px;
	background-image: url("../img/background.png");
	background-repeat: repeat-y;
	margin: 0px;
	padding: 0px;
}

canvas {
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 900px;
	height: 900px;
}

body {
	overflow: hidden;
	margin: auto;
}

#textbox {
   width: 100px;
   height: 20px;
   font-family: Comic Sans MS;
   font-weight: bold;
   border: solid 5px #5697B5;
   padding: 2px;
   border-radius: 5px;
   font-size: 10px;
   background-color: #000000;
   outline: none;
   color: #FFFFFF;
   text-align: center;
 }

 #players {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  z-index: 101;
  width: 90px;
  height: 120px;
  padding: 2px;
  overflow: scroll;
  border: none;
  font: normal 10px/1 "Comic Sans MS", cursive, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: scroll;
  text-overflow: scroll;
  background: #000000;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
}

.playerTitle {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  z-index: 101;
  width: 90px;
  height: 15px;
  padding: 2px;
  overflow: scroll;
  border: none;
  font: normal 12px/1 "Comic Sans MS", cursive, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: scroll;
  text-overflow: scroll;
  background: #000000;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
}


